:root {
    --background: #87CEFA;
    --darkcolor: #030303;
    --linkhover: #D00A0A;
    --linkColor: #1008F6;
}

body {
    background-color: var(--background);
}

.header {
    background-color: var(--background);
    color: var(--darkcolor);
    text-align: center;
}

.navbar {
    background-color: var(--darkcolor);
    overflow: hidden;
    margin: 0;

}

.navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: lightgrey;
    color: var(--darkcolor);
}

#selfie {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
}

h2 {
    font-size: 500%;
    margin: 0;
    padding-right: 10px;
    border-right: 5px solid;
    padding-left: 200px;
}

.aboutMe {
  margin: 25px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

  #aboutMeInfo { 
    padding-left: 200px;
    padding-right: 100px;
    font-size: 150%;
    margin: 0;

}  

h3 {
    font-size: 500%;
    padding-right: 10px;
    border-right: 5px solid;
    padding-left: 110px;

}

.myPortfolio {
    /* margin: 25px 0; */
    padding: 10px 0;
    display: flex;
    text-align: center;
    
    
}

.evertonLogo {
    margin-left: auto;
    margin-right: auto;
}

h4 {
    font-size: larger;
}

.marketTalk {
    padding-left: 2%;
}

.marketTalkLogo {
    margin-left: auto;
    margin-right: auto;
    
    
}

h5 {
    font-size: larger;
}

.contactSection {
    text-align: center;
    font-size: 20px;
}

#githubLink {
    color: var(--linkColor);
    padding-right: 5px;
}

#emailLink {
    color: var(--linkColor);
    padding-left: 5px;
}

#githubLink:hover {
    color: var(--linkhover);
}

#emailLink:hover {
    color: var(--linkhover);
}

h6 {
    font-size: 30px;
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {
    .main, body {
      flex: 100%;
      flex-direction: column;
    }
    
  }